body{
background-color:#FA7878;
}
p{
text-align: center;
color: white;
font-family:Calibri;
font-size:60px;
}

mark:first-child{
background-color:#00C8A0;
color:white;
}
mark:last-child{
background-color:#820078;
color:white;
}
.container{
width:70%;
position:relative;
margin:50px 450px 50px;
}
.box1{
text-align:center;
display:block;
border:3px solid #FA9678;
width: 135px;
height:190px;
margin:10px;
background-color:#F05A64;
position:relative;
}
.box2{
text-align:center;
display:block;
border:3px solid #FA9678;
width: 135px;
height:190px;
margin-left:190px;
margin-top:-170px;
background-color:#F05A64;
position:relative;
}
.box3{
text-align:center;
display:block;
border:3px solid #FA9678;
width: 135px;
height:190px;
margin-left:190px;
margin-top:-170px;
background-color:#F05A64;
position:relative;
}
.box4{
text-align:center;
display:block;
border:3px solid #FA9678;
width: 135px;
height:190px;
margin-left:190px;
margin-top:-170px;
background-color:#F05A64;
position:relative;
}
hr{
text-align:center;
display:block;
margin-top:10px;
margin-bottom:30px;
border-width:1px;
border-color:#00A0A0;
border-style:solid;
}
.img-circle{
border-radius: 50%;
height:70px;
width:70px;
margin-top:10px;
}
p:nth-child(2){
text-align: center;
color: white;
font-family:Calibri;
font-size:20px;
margin:2px;
}
p:nth-child(3){
text-align: center;
color: white;
font-family:Calibri;
font-size:10px;
margin:0px;
}
.social-links a{
    text-align: center;
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	border-radius: 50%;
	margin:-18px 2px 2px 7px;

} 
.social-links a i{
	font-size: 10px;
    line-height: 15px;
	color: white;
}